
<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Encuestas</title>
  
  {% load static %}
  
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  
  
</head>
<body>
    <div class="header">
        <h1>Agregar pregunta y opciones</h1>
        <div class="links"></div>
            <a href="{% url 'polls:index' %}" class="boton-link">Inicio</a>
            <a href="{% url 'polls:mapa_leaflet' %}" class="boton-link">Mapa</a>

    </div>    

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Pregunta</legend>
        {{ form.question_text.errors }}
        {{ form.question_text.label_tag }} {{ form.question_text }}
    </fieldset>
    <fieldset>
        <legend>Opciones</legend>
        {{ formset.management_form }}
        {% for choice_form in formset %}
            {{ choice_form.choice_text.errors }}
            {{ choice_form.choice_text.label_tag }} {{ choice_form.choice_text }}
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Datos de publicación</legend>
        {{ form.pub_date.errors }}
        {{ form.pub_date.label_tag }} {{ form.pub_date }}
    </fieldset>

    <button type="submit">Guardar</button>
</form>

</body>
</html>