<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Vota</title>

    {% load static %}  
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>
<body>
    <div>
        <div class="header">
            <i class="fa-solid fa-pencil fa-5x" style="padding: 15px;"></i>
            <legend><h1>{{ question.question_text }}</h1></legend>
            <i class="fa-solid fa-clipboard-question fa-5x" style="padding: 15px;"></i>
            
        </div>
        <div class="links header headbttns">
            <a href="{% url 'polls:index' %}" class="boton-link">Inicio</a>
            <a href="{% url 'polls:agregar_pregunta' %}" class="boton-link">Agregar nueva pregunta</a>
            <a href="{% url 'polls:mapa_leaflet' %}" class="boton-link">Mapa</a>  
        </div>
    </div>           

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>

    
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input  class="boton-link" type="submit" value="Vota">
    </form>
</body>
</html>