<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Vota</title>

    {% load static %}  
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>
<body>
    <div>
        <div class="header">
            <i class="fa-solid fa-pencil fa-5x" style="padding: 15px;"></i>
            <legend><h1>{{ pregunta.texto_pregunta }}</h1></legend>
            <i class="fa-solid fa-clipboard-question fa-5x" style="padding: 15px;"></i>
            
        </div>
        <div class="links header headbttns">
            <a href="{% url 'polls:inicio' %}" class="boton-link">Inicio</a>
            <a href="{% url 'polls:agregar_pregunta' %}" class="boton-link">Agregar nueva pregunta</a>
            <a href="{% url 'polls:mapa_leaflet' %}" class="boton-link">Mapa</a>  
        </div>
    </div>           

    <form action="{% url 'polls:votar' pregunta.id %}" method="post">
        {% csrf_token %}
        <fieldset class="encuestas">

    
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for opcion in pregunta.opcion_set.all %}
                    <label>
                        <input type="radio" name="opcion" value="{{ opcion.id }}">
                        <span style="font-weight: bold; font-size:1.5em;color: #509264;">{{ opcion.texto_opcion }}</span>
                    </label>
                    <br>
                {% endfor %}
        </fieldset>
        <input  class="headbttns boton-link" type="submit" value="Vota">
    </form>
</body>
</html>