
<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Encuestas</title>
  
  {% load static %}  
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  
</head>
<body>
  <div>
    <div class="header">
      <h1>Encuestas simples</h1>
    </div>
    
    <div class="links header">
      <a href="{% url 'polls:agregar_pregunta' %}" class="boton-link">Agregar nueva pregunta</a>
      <a href="{% url 'polls:mapa_leaflet' %}" class="boton-link">Mapa</a>
    </div>
    
  </div>
  
  <div class="content">
    <h2>Encuestas agregadas</h2>
    {% if latest_question_list %}
    <ul class="encuestas">
      {% for question in latest_question_list %}
      <li>
        <h4 ><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h4>
        
        <a href="{% url 'polls:results' question.id %}" class="boton-link">Ver resultados</a>

      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </div>
  
</body>
</html>