<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Mapa</title>
  {% load static %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">

<!-- Librería leaflet -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<!-- Librería PMTiles -->
<script src="https://unpkg.com/pmtiles@3.2.0/dist/pmtiles.js"></script>
<!-- Protomaps Leaflet plugin -->
<script src="https://unpkg.com/protomaps-leaflet@5.0.1/dist/protomaps-leaflet.js"></script>


  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    body {
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
    #map {
      position: absolute;
      top: 175px; /* Ajusta según la altura de tu header */
      left: 0;
      width: 100vw;
      height: calc(100vh - 120px); /* Ajusta según la altura de tu header */
    }
  </style>
</head>
<body>
    <div >
        <div class="header">
          <i class="fa-solid fa-map-location-dot fa-5x" style="padding: 15px;"></i>
          <h1>Mapa</h1>
          <i class="fa-solid fa-earth-americas fa-5x" style="padding: 15px;"></i>
        </div>
        
        <div class="links header headbttns">
            <a href="{% url 'polls:inicio' %}" class="boton-link">Inicio</a>
            <a href="{% url 'polls:agregar_pregunta' %}" class="boton-link">Agregar nueva pregunta</a>
            <button id="mostrar-geojson"  class="boton-link">Alcaldias CDMX</button>
            <button id="mostrar-ents"  class="boton-link">Hospitales</button>
            <button id="predios-cuau" class="boton-link">Predios Cuauhtémoc</button>

        </div> 
    </div>
  
  <div id="map">
    <div id="controlCapas">
      <h3>Mapas Base </h3>
      <button class="boton-mapaBase activo" onclick="mapaBaseElej('osm')">OpenStreetMap</button>
      <button class="boton-mapaBase" onclick="mapaBaseElej('esri')">Esri World Imagery</button>
      <button class="boton-mapaBase" onclick="mapaBaseElej('google')">Google Satellite</button>
    </div>

  </div>

  <script>
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    });

    var esri = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles © Esri World Imagery'
    });

    var google = L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
      attribution: 'Tiles © Google Maps'
    });                     
     
   /* var sentinel_2 = L.tileLayer.wms('https://tiles.maps.eox.at/wm', {
      //pane: 'pane_Sentinel2cloudlesslayerfor2024byEOX4326_0',
      layer: 's2cloudless-2024',
      tilematrixSet: 's2cloudless-2024-wmsc-17',
      format: 'image/jpeg',
      style: '',
      uppercase: true,
      transparent: true,
      continuousWorld : true,
      opacity: 1.0,            
      attribution: '&copy; <a href="https://eox.at/">EOX</a> - Sentinel-2 Cloudless'
    });*/

    var map = L.map('map', {
      center: [19.320016, -99.147931], // CDMX
      zoom: 11,
      layers: [osm] // Capa base inicial
    });

    /*var baseMaps = {
      "OpenStreetMap": osm,
      "Esri World Imagery": esri,
      "Google Satellite": google
    //  "Sentinel-2 cloudless": sentinel_2
    };

  L.control.layers(baseMaps).addTo(map); */


    var baseMaps = {
      "osm": osm,
      "esri": esri,
      "google": google
      };

    function mapaBaseElej(nombre) {
      // Remueve todas las capas base
      Object.values(baseMaps).forEach(function(capa) {
        map.removeLayer(capa);
      });
      // Agrega la seleccionada
      map.addLayer(baseMaps[nombre ]);
    }

  
    var geojsonLayer = null;
   // var EntsgeojsonLayer = null;
    var entidadesLayer = null;
    var hospitalesLayer = null;
    var todosHospitales = null; // se carga una sola vez

  // Mostrar un atributo en un tooltip al hacer hover
    function onEachFeature(feature, layer) {  
      if (feature.properties && feature.properties.NOMGEO) {
        layer.bindTooltip(feature.properties.NOMGEO, {sticky: true});
      }    

    // Mostrar todos los atributos en un popup al hacer clic
      layer.on('click', function(e) {
        let props = feature.properties;
        let content = '<b>Atributos:</b><ul>';
        for (let key in props) {
          content += `<li><b>${key}:</b> ${props[key]}</li>`;
        }
        content += '</ul>';
        layer.bindPopup(content).openPopup();
      });
    }


      // Mostrar un atributo en un tooltip al hacer hover
    function onEachFeatureEntidad(feature, layer) {
      if (feature.properties && feature.properties.NOMBRE) {
        layer.bindTooltip(feature.properties.NOMBRE, {sticky: true});
        
      }

      layer.on("mouseover", function (e) {
        e.target.setStyle({
        color: "#ffcc3f",
        weight: 3,
        fillColor: "#ffcc3f",
        fillOpacity: 0.4
        });
      });

  // Evento al salir del mouse: restaura el estilo original
      layer.on("mouseout", function (e) {
        entidadesLayer.resetStyle(e.target);
      });
    
      // Cuando se hace clic en una entidad
      layer.on('click', function(e) {
        let props = feature.properties;
        let claveEntidad = props.ENTIDAD; // ajusta según el atributo real

        // Mostrar popup con atributos
        let content = `<b>${props.NOMBRE}</b><br><small>CVE_ENT: ${claveEntidad}</small>`;
        layer.bindPopup(content).openPopup();

        // Filtrar hospitales
        mostrarHospitalesPorEntidad(claveEntidad);
      });
    }
    

  function cargarGeoJSON() {
    // Evitar cargar dos veces
    if (geojsonLayer) {
      map.removeLayer(geojsonLayer);
      geojsonLayer = null;
      return;
    }
 
      // Cargar GeoJSON desde static
    fetch("{% static 'polls/spatial/munis09_geo.geojson' %}")
        .then(response => response.json())
        .then(data => {
          geojsonLayer = L.geoJSON(data, {
              onEachFeature: onEachFeature
          }).addTo(map);
                
          const bounds = geojsonLayer.getBounds();
          if (bounds.isValid()) {
            map.fitBounds(bounds);
          } else {
            alert("No hay entidades registradas.");
          }
        })
        .catch(error => {
          console.error("Error al cargar las entidades:", error);
          alert("No se pudieron cargar las entidades.");
        }); 
                //Ajustar el zoom automáticamente a los límites de las alcaldias

  }

  document.getElementById('mostrar-geojson').addEventListener('click', cargarGeoJSON);


  function cargarEntidades() {
    // Si las capas ya están activas, las limpiamos y regresamos a vista general
    if (entidadesLayer || hospitalesLayer) {
      if (entidadesLayer) {
        map.removeLayer(entidadesLayer);
        entidadesLayer = null;
      }
      if (hospitalesLayer) {
        map.removeLayer(hospitalesLayer);
        hospitalesLayer = null;
      }

      // Regresar a una vista general de México se pueden ajustar coordenadas y zoom)
      map.setView([23.6345, -102.5528], 6);
      return;
    }

    // Cargar las entidades desde el archivo GeoJSON
    fetch("{% static 'polls/spatial/Entidades.geojson' %}")
      .then(response => response.json())
      .then(data => {
        entidadesLayer = L.geoJSON(data, {
          onEachFeature: onEachFeatureEntidad,
          style: { color: "#007bff", weight: 1, fillOpacity: 0.2 }
        }).addTo(map);

        // Ajustar el zoom automáticamente a los límites de las entidades
        const bounds = entidadesLayer.getBounds();
        if (bounds.isValid()) {
          map.fitBounds(bounds);
        } else {
          alert("No hay entidades registradas.");
        }
      })
      .catch(error => {
        console.error("Error al cargar las entidades:", error);
        alert("No se pudieron cargar las entidades.");
      });
  }

  document.getElementById('mostrar-ents').addEventListener('click', cargarEntidades);

    // Función para cargar todos los hospitales una sola vez
    function cargarHospitales() {
      return fetch("{% static 'polls/spatial/HospitalesEnt.geojson' %}")
        .then(response => response.json())
        .then(data => {
          todosHospitales = data; // Guardamos el GeoJSON completo en memoria
        });
    }

    // Filtrar y mostrar hospitales de una entidad específica
    function mostrarHospitalesPorEntidad(claveEntidad) {
      if (!todosHospitales) {
        console.error("Los hospitales aún no se han cargado.");
        return;
      }

      // Eliminamos la capa anterior de hospitales si existe
      if (hospitalesLayer) {
        map.removeLayer(hospitalesLayer);
      }

      // Filtrar hospitales cuyo atributo de entidad coincida
      let filtrados = {
        type: "FeatureCollection",
        features: todosHospitales.features.filter(f => f.properties.ENTIDAD == claveEntidad)
      };

      // Mostrar los puntos en el mapa
      hospitalesLayer = L.geoJSON(filtrados, {
        pointToLayer: function(feature, latlng) {
          const hospitalIcon = L.divIcon({
            html: '<i class="fa-solid fa-circle-h" style="color: red; font-size: 20px;"></i>',
            className: 'custom-icon', // evita conflictos con estilos de Leaflet
            iconSize: [20, 20],
            iconAnchor: [10, 10]
          });
          return L.marker(latlng, { icon: hospitalIcon });
        },
        onEachFeature: function(feature, layer) {
          let props = feature.properties;
          let content = `<b>${props.NOMBRE}</b><br>ENTREGAS REALIZADAS: ${props.CONTROL || ''}<br>ENTIDAD: ${props.ENTIDAD}`;
          layer.bindPopup(content);
        }
      }).addTo(map);

      // Ajustar el zoom para mostrar los hospitales de esa entidad
      if (hospitalesLayer.getLayers().length > 0) {
        map.fitBounds(hospitalesLayer.getBounds());
      } else {
        alert("No hay hospitales registrados en esta entidad.");
      }
    }
    // Cargar hospitales al iniciar (solo una vez)
    cargarHospitales();

  // --- CAPA PMTiles ---
let prediosLayer = null;
const PMTILES_URL = "{% static 'polls/spatial/predioscuauhtemoc.pmtiles' %}";

// Definir estilo
const prediosStyle = [{
  dataLayer: "predscuau",
  symbolizer: new protomapsL.PolygonSymbolizer({
    fillColor: '#ffcc3f',
    fillOpacity:0.7,
    strokeColor:"rgba(0,0,0,0)",
    strokeWidth: 0
  })
}];

document.getElementById('predios-cuau').addEventListener('click', ()=>{
  if(prediosLayer){ 
    map.removeLayer(prediosLayer); 
    prediosLayer=null;
    return; 
  }
  prediosLayer = protomapsL.leafletLayer({
    url: PMTILES_URL, 
    paintRules: prediosStyle
  }).addTo(map);
  map.setView([19.432, -99.15], 14);
});


  document.querySelectorAll('.boton-mapaBase').forEach(function(btn) {
    btn.addEventListener('click', function() {
        document.querySelectorAll('.boton-mapaBase').forEach(function(b) {
            b.classList.remove('activo');
        });
        btn.classList.add('activo');
    });
  });
  </script>
</body>
</html>