li a {
    color: #85ffaa;
}

.header {
    background: rgb(174, 248, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}

.encuestas{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.boton-link {
    display: inline-block;
    padding: 8px 16px;
    background: #85ffff;
    color: #fff !important;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
    transition: background 0.2s;
}
.boton-link:hover {
    background: #ffcc3f;
}

.encuestas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.encuestas li h4 {
    margin: 0;
}