    li {
    color: #509264;
}   
   
   li a {
    color: #509264;
}

.header {
    background: rgb(99, 143, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    color:  rgb(255, 255, 255);
}

.headbttns {
justify-content: center;
padding: 10px;

}

.encuestas{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.boton-link {
    display: inline-block;

    background: #ac4779;
    color: #fff !important;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
    transition: background 0.2s;
}
.boton-link:hover {
    background: #ffcc3f;
}

.encuestas li {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5px;
}

.encuestas li h4 {
    margin: 0;
}

.subtitle{
  color: rgb(99, 143, 101);
  padding:20px;
}
    